.game {
  width: 540px;
  display: flex;
  flex-flow: wrap;
  flex: 1 1 33%;

  &__item {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 3px solid #f9f9f9;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    align-items: center;
    background-color: aquamarine;
  }

}