.game {
  &__info {
    color: #fff;
  }
  .box {
    width: 100%;
    height: 100%;
    background: #060c21;
    max-width: 280px;
    max-height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $bp-sm) {
      max-width: 320px;
      max-height: 320px;
    }

    @media (min-width: $bp-md) {
      max-width: 360px;
      max-height: 360px;
    }

    @media (min-width: $bp-lg) {
      max-width: 500px;
      max-height: 500px;
    }
    
    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: #fff;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: #fff;
      z-index: -2;
      filter: blur(40px);
    }

    &::before,
    &::after {
      background: linear-gradient(235deg, #0cec0ae0, #2d242469, #c91ed0);
    }

    .content {
      width: 100%;
      height: 100%;
      padding: 5px;
      box-sizing: border-box;
      color: #ffffff;
    }
  }

  &__board {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    height: 100%;
  }

  &__item:nth-child(3n+2),
  &__item:nth-child(3n+3){
    border-left: 2px solid #000000;
  }
  &__item:nth-child(n+4){
    border-top: 2px solid #000000;
  }

  &__item {
    font-size: 72px;
    display: flex;
    justify-content: center;
    flex: 1 1 25%;
    height: 33%;
    align-items: center;
    background-color: #211a36e8;
  }

  &__info {
    width: 320px;
    padding:16px;
    @media (max-width: $bp-sm) {
      width: 280px;
      font-size: 20px;
    }
  }

  &__end {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-flow: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}